
<div class="import-create-bar text-right">
  <%= form_tag import_stations_path, id: "station-form",  multipart: true do %>
    <%=file_field_tag :file%>
    <%=submit_tag "upload"%>
  <%end%>
</div>

<%if @stations.any?%>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">STATION NAME</th>
        <th scope="col">STATION CODE</th>
      </tr>
    </thead>
    <tbody>
      <%@stations.each do |s, index|%>
        <tr>
          <td><%=s["station_name"]%></td>
          <td><%=s["station_code"]%></td>
        </tr>
      <%end%>    
    </tbody>
  </table>
  <div class="pagination float-right apple_pagination">
    <%= will_paginate @stations,:container => false  %>
  </div>  
  
<%else%>
<div class="error-no-station text-center">
  <h6>
    No Stations in API do you want to start <%=link_to "create", new_station_path%> a  one ?
  </h6>
</div>
  
<%end%>