<div class="col-md-8 new-station-col"> 
  <div class="card card-primary card-outline col-md-12">
    <div class="card-header">
      <h5 class="card-title text-left m-0">Create a Station or import CSV files</h5>
       <a href="#" class="help-card-title float-right" data-toggle="tooltip" title="To import Stations, please select desired Trainline and then press Import button" data-placement="left">help</a>
    </div>
    
    
    <div class="card-body">
    	<div class="form-group ">
    		<%if Trainline.all_trainlines.any?%>
    		  <!-- <div class="row"> -->
    		  	<div class="col-md-12">
              <div class="text-right">
                 <%= form_tag import_stations_path, id: "station-form",  multipart: true do %>
                    <div class="col-md-12">
                      <label for="upload-stations" class ="upload-stations"><span>Import</span></label>
                        <div class= text-left>
                          <%=file_field_tag :file, :onchange => "this.form.submit()", :id  => "upload-stations" %>
                        </div>
                        <%=hidden_field_tag :trainline_id,nil,value: "", class: "hidden-select-value",required: true%>      
                    </div>
                  <%end%>
              </div>
            </div>
    		  	<div class="col-md-12">

    		  		<%=form_tag stations_path, method: "post", id: "station-form",multipart: true do%>
    		  			<div class="form-group">
                  <div class="col-md-12">
                    <%=select_tag 'trainline_id', options_for_select(Trainline.all_trainlines.map{|line| [line["line_name"],line["id"]]}),class: "form-control hidden-select-value-to", :prompt => "Select Trainline",required: true%>
                  </div>
    		  				
    		  			</div>
    		  			<div class="form-group">
					    		<div class="col-md-12">
						        <%=text_field_tag :station_name, nil,class: "form-control", :id => "fname1",:placeholder =>"Station name...",required: true%>
						      </div>
						    </div>
                <div class="from-group">
                  <div class="col-md-12">
                      <%=text_field_tag :station_code, nil,class: "form-control", :id => "fname1",:placeholder =>"Station code...",required: true%>
                    </div>
                </div>
                <h6>this station has transit--</h6>
                <%#=form_tag transits_path, method: "post", id: "station-form",multipart: true do%>
                  <div class="form-group">
                    <div class="col-md-12">
                      <%=select_tag 'changes_to_id', options_for_select(Trainline.all_trainlines.map{|line| [line["line_name"],line["id"]]}),class: "form-control hidden-select-value-to", :prompt => "Select Transits",required: false,multiple: true%>
                    </div>

                  
                  </div>
                <%#end%>







                
                <br>

					      <div class="form-group float-right ">
					        <div class="col-md-12">
					        	<button class="btn btn-primary station-form-submit">Submit</button>
					        	<%=link_to  "Cancel", stations_path, class: "btn btn-info"%>
					        </div>
					      </div>
    		  		<%end%>

    		  	</div>
    		  	
  		  			
        <%else%>
        		<div class="col-md-12">
	        		<div class="notice-add-or-import">Please <%=link_to "add", new_trainline_path%> Trainline before continue. <br><%=link_to "Click here",stations_path %> if your are bulk importing </div>
	        	</div>
	      <!--   </div> -->
	      <%end%>  	
	    </div>
    </div>
</div>
</div>

						








