<div class="from-actions">
  <div class="row">
    <div class="col-md-12">
      <div class="new-to-create float-right">

        <%= form_tag import_trainlines_path, id: "station-form",  multipart: true do %>
          <label for="upload-photo" class ="upload"><span><i class="fas fa-arrow-alt-circle-up"></i> Import</span></label>
          <div class= text-left>
            <%=file_field_tag :file, :onchange => "this.form.submit()", :id  => "upload-photo" %>
          </div>
        <%end%>
        <%=link_to  new_trainline_path do %>
          <h5 class= "upload upload-create"><span><i class="fas fa-clipboard-list nav-icon"></i>  New Trainline</span></h5>
        <%end%>
       
      </div>
    </div>

  </div>
</div>
<br>

<%if @trainlines.any?%>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
       <th style="width:10%">
        <%=form_tag delete_batch_or_selected_trainlines_path, method: :delete, data: { type: 'json', confirm: 'Are you sure?' }  do%>
          <input type="checkbox" id="selectAll" value="selectAll">
          <%=submit_tag "Delete All", class: "btn btn-danger btn-sm index-dele-submit"%>
          <%#=link_to "#",class: " index-dele-submit" do %>
            <!-- <i class="fas fa-trash-alt delete-all-trash"></i> -->
          <%#end%>
          
        </th> 
        <th style="width:5%; text-align: center;">ID</th>
        <th style="width:25%; text-align: center;">STATION NAME</th>
        <th style="width:20%; text-align: center;">STATIONS</th>
        <th style="width:25%; text-align: center;">ACTIONS</th>
        
      </tr>
    </thead>
    <tbody>
      <%@trainlines.each do |trainline|%>
        
        <tr>
          
            <td class="td-class" style="width:10%; text-align: left;"><%=check_box_tag "trainline_ids[]", trainline["id"]%></td>
        
          <td class="td-class"style="width:10%; text-align: center;" ><%=trainline["id"]%></td>
          <td class="td-class"style="width:10%; text-align: center;" ><%=link_to trainline_path(trainline["id"]) do%> 
                <%=trainline["line_name"]%>

              <%end%>

          </td>
          <td class="td-class"style="width:10%; text-align: center;" >
            <div class="inline-actions text-center">
              <%=trainline["stations"].count%>

            </div>
          </td>
          
          <td class="td-class"style="width:10%; text-align: center;" >
            <div class="inline-actions text-center">
              <%=link_to edit_trainline_path(trainline["id"]),:style=>"margin-right: 15px;" do%> 
                <i class="fas fa-pen"></i>
              <%end%>
              <%=link_to trainline_path(trainline['id']),method: :delete,data: { type: 'json',confirm: "This will delete associated stations too.! do you want to continue?" } do%> 
                <i class="fas fa-minus-circle"></i>
              <%end%>

            </div>
          </td>
          
        </tr>
        <%end%>
      <%end%>    
    </tbody>
  </table>
  <%unless@trainlines.count<10%>
    <div class="pagination float-right apple_pagination">
      <%= will_paginate @trainlines,:container => false  %>
    </div>
  <%end%>  
  
  
<%else%>
<div class="error-no-station text-center">
  <h6>
    No Trainlines in API do you want to <%=link_to "create", new_trainline_path%> a  one ?
  </h6>
</div>
  
<%end%>

